@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700');

$headings-font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$special-font-family: "Medel", $headings-font-family;

@import './assets/fonts/Medel/stylesheet.css';
@import './variables.scss';
@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/@icij/murmur/dist/lib/@icij/murmur.css';

.text-special {
  font-family: $special-font-family;
}
