$text-muted: mix(black, white);
$lead-font-weight: bold;

$saddle-red: #FA4070;
$saddle-yellow: #FFBF57;
$primary: #193D87;
$secondary: #45C4FF;
$link-color: darken($primary, 5%);

$headings-font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$special-font-family: "Medel", $headings-font-family;

$content-special-bg: $link-color;
$content-special-color: white;

$app-jumbotron-width-ratio: 0.45;
$app-jumbotron-breakpoint: lg;

@import 'node_modules/@icij/murmur/lib/styles/variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_gradients.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

$generic-header-height: 1rem * $line-height-base + $spacer * 2;
$modal-backdrop-opacity: .9;
